{% extends 'base.html.twig' %}
{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">{% trans from "messages" %}Welcome{% endtrans %} {{ app.user.username }}</h1>
        </div>
    </div>
    <div class="container">
        <h2>{% trans from "messages" %}Tournaments today{% endtrans %}</h2>
        {% if tournamentsToday == [] %}
            <div class="alert alert-info">{% trans from "messages" %}No tournaments today{% endtrans %}</div>
        {% else %}
            {% include 'tournament/table.html.twig' with {'tournamentList': tournamentsToday, 'showActive': false, 'isToday': true} %}
        {% endif %}
        <br />
        <h2>{% trans from "messages" %}My planned Tournaments{% endtrans %}</h2>
        {% if planedTournaments == [] %}
            <div class="alert alert-info">{% trans from "messages" %}You haven't created any tournaments yet!{% endtrans %}</div>
        {% else %}
            {% include 'tournament/table.html.twig' with {'tournamentList': planedTournaments, 'showActive': false, 'isToday': false} %}
        {% endif %}
        <br />
        <h2>{% trans from "messages" %}Shortcuts{% endtrans %}</h2>
        <br />
        <div class="row">
            <div class="col-md-3 text-left">
                <a class="btn btn-primary btn-lg" href="{{ path('tournament_create') }}" role="button">{% trans from "messages" %}Create Tournament{% endtrans %}</a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-primary btn-lg" href="{{ path('schedule_create') }}" role="button">{% trans from "messages" %}Create Schedule{% endtrans %}</a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <a class="btn btn-primary btn-lg" href="{{ path('tournament_show') }}" role="button">{% trans from "messages" %}Show Tournaments{% endtrans %}</a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-primary btn-lg" href="{{ path('schedule_show') }}" role="button">{% trans from "messages" %}Show Schedule{% endtrans %}</a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-primary btn-lg" href="{{ path('standing') }}" role="button">{% trans from "messages" %}Show Standings{% endtrans %}</a>
            </div>
        </div>
    </div>
{% endblock %}
