<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>{% trans from "messages" %}Name{% endtrans %}</th>
            <th>{% trans from "messages" %}Place{% endtrans %}</th>
            <th>{% trans from "messages" %}Date{% endtrans %}</th>
            {% if showActive == true %}
            <th>{% trans from "messages" %}Active{% endtrans %}</th>
            {% endif %}
            {% if isToday == true or copyLink == true %}
                <th>{% trans from "messages" %}Action{% endtrans %}</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for tournament in tournamentList %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ tournament.name }}</td>
                <td>{{ tournament.place }}</td>
                <td>{{ tournament.date|date("d.m.y") }}</td>
                {% if showActive == true %}
                    <td>{% if tournament.isactive == true %}{% trans from 'messages' %}True{% endtrans %}{% else %}{% trans from 'messages' %}False{% endtrans %}{% endif %}</td>
                {% endif %}
                {% if isToday == true or copyLink == true %}
                    <td>
                        {% if isToday == true %}
                        <a class="oi oi-list btn-sm" title="{% trans from "messages" %}Show Schedule{% endtrans %}" href="{{ path('schedule_show', {'tournament': tournament.id }) }}" aria-hidden="true"></a>
                        <a class="oi oi-target btn-sm" title="{% trans from "messages" %}Show Standing{% endtrans %}" href="{{ path('standing', {'tournament': tournament.id }) }}" aria-hidden="true"></a>
                        {% endif %}
                        {% if copyLink == true %}
                            <a class="oi oi-clipboard" title="{% trans from "messages" %}Copy Link{% endtrans %}" href="javascript:document.open_modal_copy_link('{{ absolute_url(path('public_team_registration', {'hash': tournament.hash})) }}');" aria-hidden="true"></a>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
